.FooterContainer {
    
        background-color: #FFFFFF;
        display: inline-block; 
        border-top: 1px; 
        border-color: rgba(247, 247, 247, 1);
        box-shadow: 0em -0.31em 2.4em 0em rgba(0, 0, 0, 0.5);
        font-family: "Raleway", sans-serif;
        margin-top: 2rem;
        text-align: left;
        line-height: 0rem;
        padding: 1.5rem 0rem 1rem 1rem;


        &__Copy {
            font-family: "Open Sans", sans-serif;
            font-weight: 400;
            color: #A5A5A5;
            display: inline-block;
            font-size: 0.9rem;
        }

        &__img {
            display: inline-block;
            margin-left: 0.5rem;

            &--facebook {
                margin-left: 1rem;
            }

            &--X {
                margin-left: 0.9rem;
            }
        }
    }
    