.form {
    margin: 2rem;

    &__title { 
        font-family: "Raleway", sans-serif;
        font-weight: 400;
        font-size: 2rem;

    }

    &__call {
        font-family: "Open Sans", sans-serif;
        font-weight: 400;
        font-size: 1rem;
        margin-bottom: 3rem;
    }

    &__container {
        display: block;
        line-height: 0.3rem;
        

            &__info {
                display: inline-block;
                font-family: "Open Sans", sans-serif;
                font-weight: 600;
                font-size: 1rem;
                color: #A5A5A5;
            }
    }

    &__label {
        display: block;
        font-family: "Open Sans", sans-serif;
        font-weight: 600;
        font-size: 0.9rem;
        color: #08A6E4;
        text-transform:uppercase ;
        padding-top: 1rem;
        padding-bottom: 1rem;
        margin-bottom: 1rem;

        &__input {
            border: #FFFF;
            border-bottom: 1px solid grey;
            padding-left: 6rem;
            
        }
    }
        
    &__dtd{
        display: block;
    
        &__text {
        font-family: "Open Sans", sans-serif;
        font-weight: 400;
        color: #707070;
        display: inline-block;
        font-size: 1rem;
        padding-left: 2rem;

        }
        &--terms {
            margin-top: 1rem;

        }
        &__check{
            border-radius: 0.25rem;
            margin-right: 0.5rem;
            width: 1.6rem;
            height: 1.6rem;
            appearance: none;
            border: 0.1rem solid #707070;

            &:checked {
                background-image: url("../assets/checked.png");
                background-repeat: no-repeat;
                background-position: center;}
            }
        
    

        &__button {
            padding: 1.5em 6em;
            margin: 1em;
            border-radius: 2rem 2rem;
            color: white;
            font-size: 0.9rem;
            font-family: "Open Sans", sans-serif;
            border: 0em;
            font-weight: 700;
            background-color: #08A6E4;
            box-shadow: 0px 0.3em 0.5em rgba(7, 172, 230, 0.4);
            transform: translateX(35%);
            cursor: pointer;
        }
            
        }
        .form__dtd__check:hover {
            cursor: pointer;

        }
    }

    @media only screen and (min-width: 769px) {

        .form {
            margin: 3rem;
            display: flex;
            padding: 5rem;

            &__formcontainer {
                display: inline-flex;
                width: 50%;
                flex-direction: column;
                padding-left: 30rem;
            }

            &__imgcontainer {
                
            }

            &__label {
                
                &__input {
                    padding-left: 12rem;
                    
                }
            }
        
            &__dtd{

                &__text {
                    width: 50%;
                }

                &__checkbox + label {
                    transform: translateY(201%);
                }
            }  
        
        
        
        }
     form {
        width: 50%;
     }
    }   