
.main__section {
    font-family: "Raleway", sans-serif;
    text-align: center;
    margin-top: 3.4em;
    padding: 1em;
    max-width: 100%;
    overflow: hidden;

    

    &__title  {
        font-size: 2.3rem;
        font-weight: 400;
    }

    &__text {
        font-family: "Open Sans", sans-serif;
        font-size: 1.2em;

    }

    &__buttom {
        padding: 1.2em 4.3em;
        margin: 1em;
        border-radius: 2rem 2rem;
        background-color: #08A6E4;
        color: white;
        font-size: 1rem;
        font-family: "Open Sans", sans-serif;
        box-shadow: 0.3em 0.6em 0.8em 0 rgba(7, 172, 230, 0.29);
        border: 0em;
        font-weight: 700;

      

    }

    &__img {
        width: 100%;
        transform: scale(2);
    }

}

