.ContainerNav {
  background-color: #FFFFFF;
  display: inline-block;
  box-shadow: 0em 0.18em 0.3em 0em rgba(0, 0, 0, 0.29);
  width: 100%;
  top: 0;
  font-family: "Raleway", sans-serif;
  

  &__Section__1 {
    position: relative;
    padding: 1rem 1rem 0.5rem 1rem;

    &__img {
      cursor: pointer;
      position: absolute;
      bottom: 37%;
      right: 5%;
    }
  }

  &__Text {
    color: #08A6E4;
    margin: 0.5em;
    display: inline-block;
  }

  &__List {
    list-style-type: none;
    margin-bottom: 2em;
    color: #A5A5A5;
    text-transform: uppercase;
    margin-top: 1rem;

    &__item {
      font-family: "Open Sans", sans-serif;
      font-weight: 700;
      font-size: 0.8rem;
      text-transform: uppercase;
     
      

      
    }

    &__Link {
        text-decoration: none; 
        color: inherit;

        &:active{
          color: black;
        }
      
      }
  }

  &__Section__2 {
    display: none;

    &--active{
      display: block;
      list-style-type: none;
    }
  }
}

@media only screen and (min-width: 769px) {
  .ContainerNav {
    position: fixed;
    z-index: 1000;
    &__Content {
      display: flex;
    justify-content: space-between;
    }

    &__Section__1 {
      display: inline-block;
      padding-left: 11rem;
      padding-top: 2rem;
  
      

      &__img {
       display: none;
      }

    }
    &__Section__2 {
      display: inline-block;
      cursor: pointer;
      
      
    }
    &__List {
      display: inline-flex;
      visibility: visible;
      color: #A5A5A5;

      &__item{
        padding-top: 1rem;
      }
      
      

      &__Link {
        text-decoration: none; 
        color: inherit;
        
        
        

        &:hover {
          
          color: black;
          text-decoration: underline 0.3rem solid #08A6E4;
          text-underline-offset: 2.8em;
          

          
        }
      }

      &__item {
        padding-left: 5rem;
        padding-right: 5rem;

      }
    }
  }
}

