body {
  margin: 0;
  background-color: #FFFFFF;
}

.ContainerNav {
  background-color: #FFFFFF;
  display: inline-block;
  box-shadow: 0em 0.18em 0.3em 0em rgba(0, 0, 0, 0.29);
  width: 100%;
  font-family: "Raleway", sans-serif;
}
.ContainerNav__Section__1 {
  position: relative;
  padding: 1rem 1rem 0.5rem 1rem;
}
.ContainerNav__Section__1__img {
  cursor: pointer;
  position: absolute;
  bottom: 37%;
  right: 5%;
}
.ContainerNav__Text {
  color: #08A6E4;
  margin: 0.5em;
  display: inline-block;
}
.ContainerNav__List {
  list-style-type: none;
  display: none;
  visibility: hidden;
  margin-bottom: 2em;
  color: black;
  text-transform: uppercase;
}

.main__section {
  font-family: "Raleway", sans-serif;
  text-align: center;
  margin-top: 3.4em;
  padding: 1em;
  max-width: 100%;
  overflow: hidden;
}
.main__section__title {
  font-size: 2.3rem;
  font-weight: 400;
}
.main__section__text {
  font-family: "Open Sans", sans-serif;
  font-size: 1.2em;
}
.main__section__buttom {
  padding: 1.2em 4.3em;
  margin: 1em;
  border-radius: 2rem 2rem;
  background-color: #08A6E4;
  color: white;
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
  box-shadow: 0.3em 0.6em 0.8em 0 rgba(7, 172, 230, 0.29);
  border: 0em;
  font-weight: 700;
}
.main__section__img {
  width: 100%;
  transform: scale(2);
}

.containerArt {
  padding: 1.9em;
  text-align: center;
}
.containerArt__title {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 1.87em;
  padding: 0.25em;
}
.containerArt__title__two {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 1.25em;
}
.containerArt__parraf {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  color: #A5A5A5;
  font-size: 1em;
  line-height: 0.5;
}
.containerArt__one {
  padding-bottom: 1em;
}
.containerArt__one__rcircle {
  transform: translateX(38%);
}
.containerArt__one__picon {
  transform: translateY(-17%) translateX(-31%);
}
.containerArt__two {
  padding-bottom: 1em;
}
.containerArt__two__bcircle {
  transform: translateX(58%);
}
.containerArt__two__eye {
  transform: translateY(-39%) translateX(-14%);
}
.containerArt__three__gcircle {
  transform: translateX(50%);
}
.containerArt__three__group {
  transform: translateY(-19%) translateX(-7%);
}

.containerShop {
  background-color: #F7F7F7;
  padding: 1.5em;
}
.containerShop__article {
  background-color: #FFFFFF;
  margin-bottom: 3em;
  padding-top: 2em;
}
.containerShop__article__title {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 1.8em;
  padding-left: 1em;
  padding-right: 2em;
}
.containerShop__article__parraf {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 0.87em;
  padding: 2em;
}
.containerShop__article__laptop {
  transform: translateX(-36%);
}
.containerShop__article__frame {
  transform: translateY(-18%) translateX(118%);
}
.containerShop__article__phone {
  transform: translateX(-36%);
}
.containerShop__article__circle {
  transform: translateY(-15%) translateX(64%);
}
.containerShop__article__trumpet {
  background-color: #55DFB4;
  padding-right: 4em;
  padding-top: 2em;
}

.pricescontainer__title {
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  margin-top: 2rem;
}
.pricescontainer__cards {
  padding: 1em;
  position: relative;
  border-radius: 1em 1em;
  margin: 2.5rem;
  margin-bottom: 5rem;
}
.pricescontainer__cards--one {
  border: 1px solid #FB3B64;
}
.pricescontainer__cards--two {
  font-size: 0.96rem;
  border: 1px solid #07ACE6;
}
.pricescontainer__cards--three {
  border: 1px solid #55DFB4;
}
.pricescontainer__cards__title {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 1.2rem;
}
.pricescontainer__cards__price {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 2.5rem;
}
.pricescontainer__cards__price--basic {
  color: #EB476E;
}
.pricescontainer__cards__price--professional {
  color: #07ACE6;
}
.pricescontainer__cards__price--premium {
  color: #55DFB4;
}
.pricescontainer__cards__limit {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 0.9rem;
}
.pricescontainer__cards__list {
  display: inline-block;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 2rem;
}
.pricescontainer__cards__list--check {
  list-style: url("../assets/Checkbox.png");
}
.pricescontainer__cards__list--cross {
  list-style: url("../assets/Cross.png");
}
.pricescontainer__cards__button {
  padding: 0.7em 2.4em;
  margin: 1em;
  border-radius: 1.5rem 1.5rem;
  color: white;
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
  border: 0em;
  font-weight: 700;
  position: absolute;
  cursor: pointer;
}
.pricescontainer__cards__button--red {
  background-color: #EB476E;
  left: 24%;
  top: 86%;
}
.pricescontainer__cards__button--blue {
  background-color: #08A6E4;
  left: 26%;
  top: 82%;
}
.pricescontainer__cards__button--green {
  background-color: #55DFB4;
  left: 20%;
  top: 83%;
}
.pricescontainer__cards__text {
  display: inline-block;
  padding-left: 1rem;
  line-height: 0.5rem;
}
.pricescontainer__button--blue:hover {
  border-radius: 1em 1em;
  box-shadow: 0px 0.2em 0.4em rgba(7, 172, 230, 0.4);
  margin-bottom: 5rem;
  background-color: red;
}

.hover-div:hover {
  background-color: red;
}

.form {
  margin: 2rem;
}
.form__title {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 2rem;
}
.form__call {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  margin-bottom: 3rem;
}
.form__container {
  display: block;
  line-height: 0.3rem;
}
.form__container__info {
  display: inline-block;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  color: #A5A5A5;
}
.form__label {
  display: block;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 0.9rem;
  color: #08A6E4;
  text-transform: uppercase;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.form__label__input {
  border: white;
  border-bottom: 1px solid grey;
  padding-left: 6rem;
}
.form__dtd {
  display: block;
}
.form__dtd__text {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #707070;
  display: inline-block;
  font-size: 1rem;
  padding-left: 2rem;
}
.form__dtd__checkbox {
  display: inline-block;
  transform: translateY(254%);
}
.form__dtd__button {
  padding: 1.5em 6em;
  margin: 1em;
  border-radius: 2rem 2rem;
  color: white;
  font-size: 0.9rem;
  font-family: "Open Sans", sans-serif;
  border: 0em;
  font-weight: 700;
  background-color: #08A6E4;
  box-shadow: 0px 0.3em 0.5em rgba(7, 172, 230, 0.4);
  transform: translateX(35%);
}

.form__dtd____checkbox:checked {
  background-image: url("../assets/check.png");
  background-repeat: no-repeat;
  background-position: center;
}

.FooterContainer {
  background-color: #FFFFFF;
  display: inline-block;
  border-top: 1px;
  border-color: rgb(247, 247, 247);
  box-shadow: 0em -0.31em 2.4em 0em rgba(0, 0, 0, 0.5);
  width: 100%;
  font-family: "Raleway", sans-serif;
  margin-top: 2rem;
  text-align: left;
  line-height: 0rem;
  padding: 1.5rem 1rem 1rem;
}
.FooterContainer__Copy {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #A5A5A5;
  display: inline-block;
  font-size: 0.9rem;
}
.FooterContainer__img {
  display: inline-block;
  margin-left: 0.5rem;
}
.FooterContainer__img--facebook {
  margin-left: 1rem;
}
.FooterContainer__img--X {
  margin-left: 0.9rem;
}

/*# sourceMappingURL=output.css.map */
