* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
}

.ContainerNav {
  background-color: #FFFFFF;
  display: inline-block;
  box-shadow: 0em 0.18em 0.3em 0em rgba(0, 0, 0, 0.29);
  width: 100%;
  top: 0;
  font-family: "Raleway", sans-serif;
}
.ContainerNav__Section__1 {
  position: relative;
  padding: 1rem 1rem 0.5rem 1rem;
}
.ContainerNav__Section__1__img {
  cursor: pointer;
  position: absolute;
  bottom: 37%;
  right: 5%;
}
.ContainerNav__Text {
  color: #08A6E4;
  margin: 0.5em;
  display: inline-block;
}
.ContainerNav__List {
  list-style-type: none;
  margin-bottom: 2em;
  color: #A5A5A5;
  text-transform: uppercase;
  margin-top: 1rem;
}
.ContainerNav__List__item {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 0.8rem;
  text-transform: uppercase;
}
.ContainerNav__List__Link {
  text-decoration: none;
  color: inherit;
}
.ContainerNav__List__Link:active {
  color: black;
}
.ContainerNav__Section__2 {
  display: none;
}
.ContainerNav__Section__2--active {
  display: block;
  list-style-type: none;
}

@media only screen and (min-width: 769px) {
  .ContainerNav {
    position: fixed;
    z-index: 1000;
  }
  .ContainerNav__Content {
    display: flex;
    justify-content: space-between;
  }
  .ContainerNav__Section__1 {
    display: inline-block;
    padding-left: 11rem;
    padding-top: 2rem;
  }
  .ContainerNav__Section__1__img {
    display: none;
  }
  .ContainerNav__Section__2 {
    display: inline-block;
    cursor: pointer;
  }
  .ContainerNav__List {
    display: inline-flex;
    visibility: visible;
    color: #A5A5A5;
  }
  .ContainerNav__List__item {
    padding-top: 1rem;
  }
  .ContainerNav__List__Link {
    text-decoration: none;
    color: inherit;
  }
  .ContainerNav__List__Link:hover {
    color: black;
    text-decoration: underline 0.3rem solid #08A6E4;
    text-underline-offset: 2.8em;
  }
  .ContainerNav__List__item {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}
.main__section {
  font-family: "Raleway", sans-serif;
  text-align: center;
  margin-top: 3.4em;
  padding: 1em;
}
.main__section__title {
  font-size: 2.3rem;
  font-weight: 400;
  padding-bottom: 1rem;
}
.main__section__text {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1.2em;
  padding-bottom: 1rem;
}
.main__section__buttom {
  padding: 1.2em 4.3em;
  margin: 1em;
  border-radius: 2rem 2rem;
  background-color: #08A6E4;
  color: white;
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
  box-shadow: 0.31em 0.62em 0.87em 0 rgba(7, 172, 230, 0.29);
  border: 0em;
  font-weight: 700;
  cursor: pointer;
}
.main__section__img {
  width: 100%;
  background-image: url("../assets/bg1.png");
  height: 17em;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media only screen and (min-width: 769px) {
  .main__section {
    margin-top: 10.4em;
  }
  .main__section__title {
    font-size: 3.3rem;
  }
  .main__section__text {
    font-size: 1.1em;
    padding-top: 2rem;
  }
  .main__section__buttom {
    padding: 1.5em 10em;
    border-radius: 2.5rem 2.5rem;
    margin-top: 3rem;
  }
  .main__section__img {
    background-image: url("../assets/bg2.png");
    height: 47em;
  }
}
.containerArt {
  text-align: center;
  margin: 1rem;
  padding-bottom: 2rem;
}
.containerArt__title {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 1.87em;
  padding: 1rem;
}
.containerArt__title__two {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 1.25em;
}
.containerArt__parraf {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  color: #A5A5A5;
  font-size: 1em;
}
.containerArt__one {
  padding-bottom: 2rem;
}
.containerArt__one__rcircle {
  transform: translateX(38%);
}
.containerArt__one__picon {
  transform: translateY(-17%) translateX(-31%);
}
.containerArt__two {
  padding-bottom: 2rem;
}
.containerArt__two__bcircle {
  transform: translateX(58%);
}
.containerArt__two__eye {
  transform: translateY(-39%) translateX(-14%);
}
.containerArt__three {
  padding-bottom: 2rem;
}
.containerArt__three__gcircle {
  transform: translateX(50%);
}
.containerArt__three__group {
  transform: translateY(-19%) translateX(-7%);
}

.containercards {
  padding-bottom: 1rem;
}

@media only screen and (min-width: 769px) {
  .containercards {
    display: inline-flex;
    padding-bottom: 5rem;
    width: 100%;
    justify-content: space-evenly;
    margin-top: 5rem;
  }
  .containerArt__title {
    font-weight: 400;
    font-size: 2.25em;
  }
}
.containerShop {
  background-color: #F7F7F7;
  padding: 1.5em;
}
.containerShop__article {
  background-color: #FFFFFF;
  margin-bottom: 3em;
  padding-top: 2em;
  border: 1px solid #E8E9ED;
  border-radius: 5px;
}
.containerShop__article__container__upper1 {
  height: 10em;
}
.containerShop__article__container__bottom3 {
  display: none;
  width: 100%;
}
.containerShop__article__title {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 1.8em;
  padding-left: 1em;
  padding-right: 2em;
}
.containerShop__article__parraf {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 0.87em;
  padding: 2em;
}
.containerShop__article__laptop {
  transform: translateX(21%) translateY(-85%);
}
.containerShop__article__frame {
  transform: translateY(-18%) translateX(118%);
}
.containerShop__article__phone {
  transform: translateX(-36%);
}
.containerShop__article__circle {
  transform: translateY(-15%) translateX(64%);
}
.containerShop__article__trumpet3movil {
  background-color: #55DFB4;
  padding-right: 4em;
  padding-top: 2em;
  background-image: url("../assets/Trumpet 2.png");
  background-position: center;
  background-size: cover;
  height: 15em;
}

.red {
  display: none;
}

.azul {
  display: none;
}

.green {
  display: none;
}

@media only screen and (min-width: 769px) {
  .containerShop {
    padding: 10rem 15rem;
    margin-bottom: 2rem;
  }
  .containerShop__con {
    margin: 2rem;
  }
  .containerShop__article {
    padding-bottom: 8rem;
    display: flex;
  }
  .containerShop__article__title {
    font-size: 2em;
    padding-left: 1em;
    padding-right: 2em;
  }
  .containerShop__article__parraf {
    font-size: 1.3rem;
    text-align: left;
    padding-left: 1.7em;
    padding-right: 2em;
  }
  .containerShop__article--one {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
    max-width: 100%;
  }
  .containerShop__article--two {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
  }
  .containerShop__article--three {
    display: inline-block;
    width: 36%;
    margin-right: 2em;
    position: absolute;
    padding-bottom: 8rem;
  }
  .containerShop__article__container__upper1 {
    position: absolute;
    width: 50%;
    height: 25%;
  }
  .containerShop__article__container__bottom1 {
    grid-column: 1;
    grid-row: 1;
    padding-right: 7em;
    padding-top: 1em;
    padding-left: 1em;
  }
  .containerShop__article__container__upper2 {
    width: 51em;
    height: 21em;
    position: absolute;
  }
  .containerShop__article__container__bottom2 {
    grid-column: 2;
  }
  .containerShop__article__container__upper3 {
    padding-left: 1em;
    padding-top: 1em;
  }
  .containerShop__article__container__bottom3 {
    display: block;
    width: 33rem;
    position: relative;
    left: 59%;
    height: 25rem;
  }
  .containerShop__article__container__bottom3movil {
    display: none;
  }
  .containerShop__article__laptop {
    content: url("../assets/Macbook2 1.png");
    position: relative;
    left: 48%;
    top: 94%;
  }
  .containerShop__article__frame {
    content: url("../assets/Rectange 30.png");
    position: relative;
    left: 70%;
    top: 20%;
  }
  .containerShop__article__phone {
    content: url("../assets/iPhone2 1.png");
    position: relative;
    right: 6%;
    top: 4%;
  }
  .containerShop__article__circle {
    content: url("../assets/Ellipse 3.png");
    position: relative;
    top: 10%;
    right: 10%;
    width: 20em;
  }
  .containerShop__article__trumpet {
    content: url("../assets/Trumpet 1.png");
    width: 100%;
    height: 100%;
    border: 1px solid #E8E9ED;
    border-radius: 0.31rem;
    background-color: #55DFB4;
  }
  .red {
    display: inline;
    transform: translateY(-200%) translateX(8%);
    width: 26em;
  }
  .azul {
    display: inline;
    transform: translateY(-11px) translateX(8%);
    width: 26em;
  }
  .green {
    display: inline;
    transform: translateY(-11px) translateX(8%);
    width: 26em;
  }
}
@media only screen and (min-width: 2560px) {
  .containerShop__article__container__bottom3 {
    width: 51rem;
    height: 34rem;
  }
  .containerShop__article__laptop {
    left: 91%;
    top: 77%;
  }
  .containerShop__article__frame {
    left: 111%;
    top: 18%;
  }
  .containerShop__article--three {
    width: 39%;
    height: 43%;
    padding: 3rem;
  }
}
.pricescontainer__container {
  display: block;
}
.pricescontainer__title {
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  margin-top: 2rem;
}
.pricescontainer__cards {
  padding: 1em;
  position: relative;
  border-radius: 1em 1em;
  margin: 2.5rem;
  margin-bottom: 5rem;
}
.pricescontainer__cards--one {
  border: 1px solid #FB3B64;
}
.pricescontainer__cards--one:hover {
  transform: scale(1.1);
  box-shadow: 0rem 0.7em 0.9em rgba(235, 71, 110, 0.4);
}
.pricescontainer__cards--two {
  font-size: 0.96rem;
  border: 1px solid #07ACE6;
}
.pricescontainer__cards--two:hover {
  transform: scale(1.1);
  box-shadow: 0rem 0.7em 0.9em rgba(7, 172, 230, 0.4);
}
.pricescontainer__cards--three {
  border: 1px solid #55DFB4;
}
.pricescontainer__cards--three:hover {
  transform: scale(1.1);
  box-shadow: 0rem 0.7em 0.9em rgb(85, 223, 180);
}
.pricescontainer__cards__title {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 1rem;
}
.pricescontainer__cards__price {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 2.5rem;
}
.pricescontainer__cards__price--basic {
  color: #EB476E;
}
.pricescontainer__cards__price--professional {
  color: #07ACE6;
}
.pricescontainer__cards__price--premium {
  color: #55DFB4;
}
.pricescontainer__cards__limit {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 0.9rem;
}
.pricescontainer__cards__list {
  display: inline-block;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.5rem;
  width: 40%;
}
.pricescontainer__cards__list--check {
  list-style: url("../assets/Checkbox.png");
}
.pricescontainer__cards__list--cross {
  list-style: url("../assets/Cross.png");
}
.pricescontainer__cards__button {
  padding: 0.7em 2.4em;
  margin: 1em;
  border-radius: 1.5rem 1.5rem;
  color: white;
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
  border: 0em;
  font-weight: 700;
  position: absolute;
  cursor: pointer;
}
.pricescontainer__cards__button--red {
  background-color: #EB476E;
  left: 24%;
  top: 83%;
}
.pricescontainer__cards__button--red:hover {
  box-shadow: 0rem 0.7em 0.9em rgba(235, 71, 110, 0.4);
}
.pricescontainer__cards__button--blue {
  background-color: #08A6E4;
  left: 26%;
  top: 91%;
}
.pricescontainer__cards__button--blue:hover {
  box-shadow: 0rem 0.7em 0.9em rgba(7, 172, 230, 0.4);
}
.pricescontainer__cards__button--green {
  background-color: #55DFB4;
  left: 20%;
  top: 90%;
}
.pricescontainer__cards__button--green:hover {
  box-shadow: 0rem 0.7em 0.9em rgb(85, 223, 180);
}
.pricescontainer__cards__text {
  display: inline-block;
  padding: 1rem;
  width: 50%;
}
.pricescontainer__coincointainer {
  display: flex;
  justify-content: center;
}
.pricescontainer__coincointainer__button {
  padding: 0.5rem 1rem;
  margin: 2rem;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  color: white;
  border: 1px solid #808b96;
  border-radius: 1em 1em;
  background-color: #abb2b9;
  box-shadow: 0rem 0.2em 0.4em rgba(128, 139, 150, 0.4);
  cursor: pointer;
}

@media only screen and (min-width: 769px) {
  .pricescontainer__title {
    font-size: 2rem;
    padding-top: 3rem;
  }
  .pricescontainer__container {
    display: flex;
    justify-content: center;
  }
  .pricescontainer__cards {
    display: block;
    font-size: 1.2rem;
    padding: 2.5em 5em;
    border-radius: 1.5em 1.5em;
    margin: 3rem;
    text-align: center;
  }
  .pricescontainer__cards__list {
    width: 100%;
    line-height: 3.5rem;
  }
  .pricescontainer__cards__title {
    font-size: 1.4rem;
  }
  .pricescontainer__cards__text {
    display: block;
    width: 100%;
  }
  .pricescontainer__cards__button {
    font-size: 1.2rem;
    padding: 1em 4em;
    border-radius: 2rem 2rem;
  }
  .pricescontainer__cards__button--red {
    top: 91%;
    left: 15%;
  }
  .pricescontainer__cards__button--blue {
    left: 17%;
    top: 90%;
  }
}
.form {
  margin: 2rem;
}
.form__title {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 2rem;
}
.form__call {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  margin-bottom: 3rem;
}
.form__container {
  display: block;
}
.form__container__info {
  display: inline-block;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  color: #A5A5A5;
}
.form__label {
  display: block;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 0.9rem;
  color: #08A6E4;
  text-transform: uppercase;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}
.form__label__input {
  border: none;
  border-bottom: 1px solid grey;
  width: 80%;
  outline: none;
}
.form__label__input--green {
  border: 0.2rem solid rgba(7, 224, 155, 0.8);
}
.form__label__input--red {
  border: 0.2rem solid #FB3B64;
}
.form__dtd {
  display: block;
}
.form__dtd__text {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #707070;
  display: inline-block;
  font-size: 1rem;
  padding-left: 2rem;
}
.form__dtd--terms {
  margin-top: 1rem;
}
.form__dtd__check {
  border-radius: 0.25rem;
  margin-right: 0.5rem;
  width: 1.6rem;
  height: 1.6rem;
  appearance: none;
  border: 0.1rem solid #707070;
}
.form__dtd__check:checked {
  background-image: url("../assets/checked.png");
  background-repeat: no-repeat;
  background-position: center;
}
.form__dtd__button {
  padding: 1.5em 6em;
  margin: 1em;
  border-radius: 2rem 2rem;
  color: white;
  font-size: 0.9rem;
  font-family: "Open Sans", sans-serif;
  border: 0em;
  font-weight: 700;
  background-color: #08A6E4;
  box-shadow: 0px 0.3em 0.5em rgba(7, 172, 230, 0.4);
  transform: translateX(35%);
  cursor: pointer;
}
.form .form__dtd__check:hover {
  cursor: pointer;
}

@media only screen and (min-width: 769px) {
  .form {
    margin: 3rem;
    display: flex;
    padding: 5rem;
  }
  .form__formcontainer {
    display: inline-flex;
    width: 50%;
    flex-direction: column;
    padding-left: 20rem;
  }
  .form__formcontainer__info {
    display: inline-flex;
    padding-right: 1rem;
  }
  .form__label__input {
    width: 50%;
  }
  .form__dtd__text {
    width: 50%;
  }
  .form__dtd__checkbox + label {
    transform: translateY(201%);
  }
  form {
    width: 50%;
  }
}
.popup {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  position: absolute;
}
.popup__container {
  width: 80%;
  height: 24rem;
  margin: 0 auto;
  background-color: white;
  margin-top: 10rem;
  display: flex;
  padding-top: 5rem;
  border-radius: 1rem 1rem;
  padding-right: 2rem;
}
.popup__container__close {
  margin-top: 1rem;
  margin-left: 1rem;
  cursor: pointer;
  position: relative;
  bottom: 20%;
  left: 90%;
}
.popup__container__img {
  width: 30%;
  display: inline-block;
}
.popup__container__form {
  width: 60%;
  display: inline-block;
}
.popup__container__form__label {
  font-family: "Open Sans", sans-serif;
}
.popup__container__form__label__input {
  border: none;
  border-bottom: 1px solid grey;
  width: 80%;
  outline: none;
  margin-bottom: 1rem;
}
.popup__container__form__label__input--green {
  border: 0.2rem solid rgba(7, 224, 155, 0.8);
}
.popup__container__form__label__input--red {
  border: 0.2rem solid #FB3B64;
}
.popup__container__form__button {
  padding: 1rem 2rem;
  margin: 1rem;
  border-radius: 2rem 2rem;
  color: white;
  font-size: 0.9rem;
  font-family: "Open Sans", sans-serif;
  border: 0em;
  font-weight: 500;
  background-color: #08A6E4;
}
.popup__container__title {
  font-family: "Raleway", sans-serif;
  font-size: 1em;
  margin-bottom: 1rem;
}

.FooterContainer {
  background-color: #FFFFFF;
  display: inline-block;
  border-top: 1px;
  border-color: rgb(247, 247, 247);
  box-shadow: 0em -0.31em 2.4em 0em rgba(0, 0, 0, 0.5);
  font-family: "Raleway", sans-serif;
  margin-top: 2rem;
  text-align: left;
  padding: 1.5rem 0rem 1rem 1rem;
  width: 100%;
}
.FooterContainer__Copy {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #A5A5A5;
  display: inline-block;
  font-size: 0.7rem;
}
.FooterContainer__text {
  display: inline-block;
  width: 52%;
}
.FooterContainer__img {
  display: inline-block;
  margin-left: 0.5rem;
}
.FooterContainer__img--facebook {
  margin-left: 1rem;
}
.FooterContainer__img--X {
  margin-left: 0.9rem;
}

.btn__scroll {
  width: 3rem;
  height: 3rem;
}

@media only screen and (min-width: 769px) {
  .FooterContainer {
    display: flex;
    justify-content: space-around;
    padding: 2rem 0rem 2.5rem 2rem;
    margin: auto;
  }
  .FooterContainer__text {
    display: flex;
    width: 50%;
  }
  .FooterContainer__Copy {
    padding-left: 1rem;
    transform: translateY(138%) translateX(-305%);
    margin: auto;
  }
  .FooterContainer__Oxy {
    padding-left: 1rem;
  }
}
.scroll__progress {
  width: 0%;
  height: 100%;
  background-color: #08A6E4;
  height: 0.6rem;
  position: fixed;
  top: 0;
  z-index: 1000;
}

@media only screen and (min-width: 769px) {
  .scroll__progress {
    top: auto;
  }
}
.slide {
  overflow: hidden;
}
.slide__container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 400px;
}
.slide__container__img {
  width: 100%;
}

/*# sourceMappingURL=output.css.map */
