
.pricescontainer {
    
    &__title {
        text-align: center;
        font-family: "Raleway", sans-serif;
        font-weight: 400;
        margin-top: 2rem;
    }
 
    &__cards {
        padding: 1em;
        position: relative;
        border-radius: 1em 1em;
        margin: 2.5rem;
        margin-bottom: 5rem;
        


        &--one {
            border: 1px solid #FB3B64;
            

        }
        &--two {
            font-size: 0.96rem;
            border: 1px solid #07ACE6;
            

        }
           
        &--three {
            border: 1px solid #55DFB4;
            

            

        }

        &__title {
            font-family: "Raleway", sans-serif;
            font-weight: 700;
            font-size: 1.2rem;

        }

        &__price {
            font-family: "Open Sans", sans-serif;
            font-weight: 300;
            font-size: 2.5rem;
            &--basic {
                color: #EB476E
    
            }
    
            &--professional {
                color: #07ACE6;
            }
            &--premium {
                color: #55DFB4;

            }

        }

        &__limit {
            font-family: "Raleway", sans-serif;
            font-weight: 700;
            font-size: 0.9rem;
        

        }

        &__list {
            display: inline-block;
            font-family: "Open Sans", sans-serif;
            font-weight: 400;
            line-height: 2rem;


            &--check {
                list-style: url("../assets/Checkbox.png");
            }
            &--cross {
                list-style: url("../assets/Cross.png");
            }
            

        }

        &__button {
            padding: 0.7em 2.4em;
            margin: 1em;
            border-radius: 1.5rem 1.5rem;
            color: white;
            font-size: 1rem;
            font-family: "Open Sans", sans-serif;
            border: 0em;
            font-weight: 700;
            position: absolute;
            cursor: pointer;

           


            &--red {
                background-color: #EB476E;
                left: 24%;
                top: 86%;
            }
            &--blue {
                background-color: #08A6E4;
                left: 26%;
                top: 82%;
                
            }
            &--green {
                background-color: #55DFB4;
                left: 20%;
                top: 83%;
            }

        }

        &__text {
            display: inline-block;
            padding-left: 1rem;
            line-height: 0.5rem;
            
        }

    }
    &__button--blue:hover {
        border-radius: 1em 1em;
        box-shadow: 0px 0.2em 0.4em rgba(7, 172, 230, 0.4);
        margin-bottom: 5rem;
        background-color: red;
        
        }
    
}

.hover-div:hover {
    background-color:red;
}