
.containerArt {
        padding: 1.9em;
        text-align: center;
    



    &__title { 
        font-family: "Raleway", sans-serif;
        font-weight: 300;
        font-size: 1.87em;
        padding: 0.25em;

        &__two {
            font-family: "Raleway", sans-serif;
            font-weight: 800;
            font-size: 1.25em;

        }

    }

    &__parraf {
        font-family: "Raleway", sans-serif;
        font-weight: 400;
        color: #A5A5A5;
        font-size: 1em;
        line-height: 0.5;

    }


    &__one {
        padding-bottom: 1em;

        &__rcircle {
            transform: translateX(38%);
        }

        &__picon {
            transform: translateY(-17%) translateX(-31%);

        }

    }

    

    &__two {
        padding-bottom: 1em;

        &__bcircle {
            transform: translateX(58%);
        }

        &__eye {
            transform: translateY(-39%) translateX(-14%);
        }

    }

    &__three {

        &__gcircle {
            transform: translateX(50%);

        }

        &__group {
            transform: translateY(-19%) translateX(-7%);
            
        }

    }

}

@media only screen and (min-width: 769px) {

    .containercards {
        display: inline-flex;
        padding-bottom: 5rem;
        width: 100%;
        justify-content: space-evenly;
        margin-top: 5rem;
   }

   .containerArt {

    &__title { 
        font-weight: 400;
        font-size: 2.25em;
    }

   }
}