
.containerShop {
        background-color: #F7F7F7;
        padding: 1.5em;

        &__article {
            background-color: #FFFFFF;
            margin-bottom: 3em;
            padding-top: 2em;
            


            &__title {
                font-family: "Raleway", sans-serif;
                font-weight: 400;
                font-size: 1.8em;
                padding-left: 1em;
                  padding-right: 2em;

                    

            }

            &__parraf {
                font-family: "Open Sans", sans-serif;
                font-weight: 400;
                font-size: 0.87em;
                padding: 2em;

            }

            &__laptop {
                transform: translateX(-36%);

            }

            &__frame {
                transform: translateY(-18%) translateX(118%);

            }

            &__phone { 
                transform: translateX(-36%);

            }

           &__circle {
            transform: translateY(-15%) translateX(64%);

           }

           &__trumpet {
            background-color: #55DFB4;
            padding-right: 2em;
            padding-top: 2em;


           }


    
        }
       
    }